<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Jeux</title>
</head>
<body>
    <h1>Liste des Jeux</h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Plateforme</th>
                <!-- Ajoutez ici d'autres colonnes si nécessaire -->
            </tr>
        </thead>
        <tbody>
            {% for jeu in jeux %}
            <tr>
                <td>{{ jeu.nomJeu }}</td>
                <td>{{ jeu.editeur }}</td>
                <!-- Ajoutez ici d'autres colonnes si nécessaire -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
